.inbox{
    width: 80%;
    border-radius: 4px;
    padding: 8px;
}

.inbox .frame{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(198, 198, 198);
}

.inbox .frame span{
    font-size: 2.5rem;
    color: white;
}

.inbox .user-data h5{
    font-weight: bold;
}

.inbox .user-data .feedback-message{
    width: 100%;
}

.inbox .cta{
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 0;
    display: flex;
}

.inbox .cta .publish-date{
    width: 50%;
    margin: 0 0 0 40px;
}

.inbox .cta .publish-date p{
   font-size: 1.3rem;
   font-weight: 500;
}

